### 1단계

In [2]:
# 2557번 Hello World
print('Hello World!')

Hello World!

In [3]:
# 10718번 강한친구 대한육군 2번 출력하기
for i in range(2):
  print('강한친구 대한육군')

강한친구 대한육군
강한친구 대한육군

In [4]:
# 1000번 a+b 출력하기
a, b = map(int, input().split()) # 입력받은 값을 공백을 기준으로 분리, map사용하여 정수변환
print(a+b)

1 2
3

In [5]:
# 10869번 사칙연산
a, b = map(int, input().split())
print(a+b, '\n',a-b, '\n',a*b, '\n',int(a/b), '\n',a%b)
# 공백 뭐야..

7 3
10
 4
 21
 2
 1

### 2단계

In [6]:
# 1330번 두 수 비교하기
a, b = map(int, input().split())
print('>' if a > b else ('<' if a < b else '=='))

5 5
==

In [7]:
# 9498번 시험 성적
score = int(input())
print('A' if 90<=score<=100 else('B' if 80<=score<=89 else('C' if 70<=score<=79 else('D' if 60<=score<=69 else 'F'))))

87
B

In [8]:
# 2753번 윤년
yr = int(input())

if yr % 4 == 0 and yr % 100 != 0 or yr % 400 == 0 :
  print('1')
else :
  print('0')

1999
0

In [9]:
# 14681 사분면 고르기
x = int(input())
y = int(input())

if x > 0 and y > 0 :
  print('1')
elif x < 0 and y > 0 :
  print('2')
elif x < 0 and y < 0 :
  print('3')
else:
  print('4')

12
5
1

### 3단계

In [10]:
# 2739번 구구단
N = int(input())
for i in range(1, 10):
        print('{} * {} = {}'.format(N, i, N*i))

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [11]:
# 8393번 합
num = int(input())
sum = 0
for i in range(num+1):
  sum += i
print(sum)

3
6

### 4단계

In [12]:
# 10952번 A+B -5
while True:
  a, b = map(int, input().split())
  if a==0 and b==0:
    break
  else:
    print(a+b)

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

In [13]:
# 10951번 A+B -4
while True:
  try:
    a, b = map(int, input().split())
  except:
    break
  print(a+b)

1 1
2
3 4
7

### 5단계

In [14]:
# 10817번 세 수

# a, b, c = map(int, input().split())
# if a >= b and a>=c :
#   if b >= c:
#     print(b)
#   else:
#     print(c)
# print(a)
# if로 풀려고 했는데 잘 안됨 ㅜㅜ

num = map(int, input().split())
print(sorted(num)[1])

20 50 40
40

In [15]:
# 5543번 상근날드

# 세트메뉴 = 버거 1 + 음료 1 - 50원
burger = []
drink = []
for i in range(3):
  temp = int(input())
  burger.append(temp)
for i in range(2):
  temp = int(input())
  drink.append(temp)

print(min(burger) + min(drink) - 50)

1999
1999
100
189
100
150

### 6단계

In [16]:
# 10818번 최소, 최대
num = int(input())
num_list = list(map(int, input().split()))
print(sorted(num_list)[0], sorted(num_list)[num-1])

5
20 10 35 30 7
7 35

In [17]:
# 3052번 나머지
num_list = []
for num in range(10):
  num = int(input())
  num_list.append(num % 42) # 42로 나눈 나머지만 append
num_list = set(num_list) # 중복없애기
print(len(num_list))

39
40
41
42
43
44
82
83
84
85
6

### 7단계

In [18]:
# 15596번 정수 N개의 합
# ++8393번
def solve(num_list):
  sum = 0
  for num in num_list:
    sum += num
  return sum

### 8단계

In [ ]:
# 2908번 상수
num = input() # input().split()으로 하면 893 734로 나옴
a = print(''.join(reversed(num)))
# print(max(''.join(reversed(num))))
print(max(a))
# print(num[::-1])

### 9단계

In [ ]:
# 2775번 부녀회장이 될테야
# Testcase = T, k층 n호
T = int(input())
for i in range(T):
  k = int(input())
  n = int(input())

### 10단계

In [ ]:
# 1978번 소수 찾기

num = input()
num_list = list(map(int, input().split()))
count = 0
for i in num_list:
  if i==0: 
    continue
    i==i