<a href="https://colab.research.google.com/github/bigboom1253/coding_test_study/blob/master/assignment/HyeonminNam/200811_onlinejudge(11).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 11단계 - 10872번
n = int(input())

def factorial(a):
    # 0 팩토리얼은 1임.
    if a <= 1:
        return 1
    return a*factorial(a-1)

print(factorial(n))

12
479001600

In [ ]:
# 11단계 - 11729번

import re
n = int(input())

def hanoi(n):
    # 1개만 옮길 때
    if n == 1:
        lst = ['1 3']
        return 1, lst
    # 2개부터는 n-1개를 2번으로 옮긴 다음에
    # (n-1의 과정에서 2번 장대와 3번 장대의 역할이 바뀐다고 보면 됨) 
    pre_lst = hanoi(n-1)[1]
    lst = [x.replace('3', 'b').replace('2', 'c').replace('b', '2').replace('c', '3') for x in pre_lst]
    # 가장 아래의 원판을 3번으로 옮기고
    lst.append('1 3')
    # 다시 n-1개의 원판을 2번에서 3번으로 옮기면 됨
    # (n-1의 과정에서 1번 장대와 2번 장대의 역할이 바뀐다고 보면 됨)
    new_lst = [x.replace('2', 'a').replace('1', 'b').replace('a', '1').replace('b', '2') for x in pre_lst]
    lst.extend(new_lst)
    return hanoi(n-1)[0]*2+1,lst

print(hanoi(n)[0])
for x in hanoi(n)[1]:
    print(x)

# 시간 초과로 코드 수정 필요

3
7
1 3
1 2
3 2
1 3
2 1
2 3
1 3

In [ ]:
hanoi(4)

(15,
 ['1 2',
  '1 3',
  '2 3',
  '1 2',
  '3 1',
  '3 2',
  '1 2',
  '1 3',
  '2 3',
  '2 1',
  '3 1',
  '2 3',
  '1 2',
  '1 3',
  '2 3'])