<a href="https://colab.research.google.com/github/bigboom1253/coding_test_study/blob/master/%EA%B0%95%EC%8A%B9%EB%B2%94/%EB%B0%B1%EC%A4%80Step014.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#09. 10814
나이순 정렬

In [ ]:
3
21 Junkyu
21 Dohyun
20 Sunyoung

In [10]:
n = int(input())
tmp = []
for i in range(n):
    tmp.extend(input().split())

for i in range(n,1,-1):
    tmpAge = 99
    tmpName = ""
    for j in range(i):
        if tmpAge > tmp[2*j]:
            tmp.insert(,tmp.pop(2*j))
            tmp.insert(,tmp.pop(2*j))

for i in range(n):
    print(tmp[2*i],end=" ")
    print(tmp[2*i+1])

3
21 Jasdf
21 Dqwer
20 Szxcv
iter 1 0
iter 1 2
iter 2 1
iter 2 2
21 Dqwer
20 Szxcv
21 Jasdf

In [ ]:
for i in range(n,1,-1):
    tmpAge = 99
    tmpName = ""
    for j in range(i):
        if tmpAge > tmp[2*j]:
            tmpAge = tmp.pop(2*j)
            tmpName = tmp.pop(2*j)