<a href="https://colab.research.google.com/github/bigboom1253/coding_test_study/blob/master/assignment/%EA%B0%95%EC%8A%B9%EB%B2%94/%EB%B0%B1%EC%A4%80Step008.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#01. 11654
아스키 코드

In [4]:
C = input()
print(ord(C))

A
65

#02. 11720  
숫자의 합

In [7]:
N = int(input())
numbers = input()
numbers = [int(num) for num in numbers]
print(sum(numbers))

6
654321
21

#03. 10809
알파벳 찾기

In [9]:
S = input()

for ascii in range (ord('a'), ord('z')+1):
    if chr(ascii) in S:
        print(S.index(chr(ascii)) ,end=" ")
    else:
        print("-1",end=" ")

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

#04. 2675	
문자열 반복

In [18]:
N = int(input())

for i in range(N):
    iter, *text = input().split()
    iter = int(iter)
    for t in text[0]:
        print(t*iter,end="")
    print()

1
3 ABC
AAABBBCCC

#05. 1157	
단어 공부

In [1]:
S = input()
S = S.upper()

alphabet = [0 for ascii in range(ord('A'), ord('Z')+1)]

for char in S:
    alphabet[ord(char)-ord('A')] += 1

most = alphabet.index(max(alphabet))

for idx in range(most+1, 26):
    if alphabet[most] == alphabet[idx]:
        print("?")
        exit()
print( chr(alphabet.index(max(alphabet)) + ord('A')) )

zZa
Z

In [27]:
exit()

#06. 1152	
단어의 개수

In [3]:
print(len(input().split()))

The Curious Case of Benjamin Button
6

#07. 2908	
상수

In [20]:
S1,S2 = input().split()

print(type(S1))
print(S1)

S1 = [S1[len(S1)-idx-1] for idx in range(len(S1))]
S2 = [S2[len(S2)-idx-1] for idx in range(len(S2))]

print(type(S1))
print(S1)

type(S1)
print(type(S1))
print(S1)

734 893
<class 'str'>
734
<class 'list'>
['4', '3', '7']

In [15]:
S1,S2 = input().split()
S1 = int(str([S1[len(S1)-idx-1] for idx in range(len(S1))]))
S2 = int(str([S1[len(S2)-idx-1] for idx in range(len(S2))]))

print(S1,S2)

734 893

ValueError: ignored