#재귀

###문제 10872번: 팩토리얼
(return으로 해주면 틀렸다고 인식. print 해줘야함)

In [ ]:
N = int(input())

def factorial(n) :
    return n* factorial(n-1) if n > 1 else 1

print(factorial(N))

10
3628800

### 문제 11729번 : 하노이 탑 이동 순서

In [ ]:
def hanoi(n,a,b,c): 
    if n==1: 
        move.append([a,c]) # 처음에 C에 놓기
    else: 
        hanoi(n-1,a,c,b) # C -> B로 이동
        move.append([a,c]) 
        hanoi(n-1,b,a,c) # B -> A로 이동
move = []        
hanoi(int(input()),1,2,3) # 
print(len(move)) # 이동 횟수 
for row in move :
    print("{} {}".format(row[0],row[1]))

3
7
1 3
1 2
3 2
1 3
2 1
2 3
1 3

# 브루트포스

###문제 2798번 : 블랙잭

In [23]:
N,M = map(int, input().split())

card_ls = list(map(int, input().split()))
# print(card_ls)

#완전탐색
target_dif = 300000
for a in range(0, N) :
    for b in range(a+1, N) :
        for c in range(b+1, N) :
            dif = M - (card_ls[a] + card_ls[b] + card_ls[c])
            if  0 <= dif and dif < target_dif :
                target_dif = dif
                target_ls = [card_ls[a], card_ls[b], card_ls[c]]
print(M - target_dif)
# print(target_ls)

10 500
93 181 245 214 315 36 185 138 216 295
497

### 문제 2231번 : 분해합
(주의 : 생성자가 없는 경우에는 0을 출력한다.)

In [33]:
N = int(input()) 
y= 0
for x in range(N) :
    sum = 0
    for a in str(x) :
        sum += int(a)
    sum += int(x)
    if sum == N :
        y = int(x)
        break

print(y)

4
2

#정렬

### 문제 2750번 : 수 정렬하기

In [37]:
N = int(input())
ls = []
for _ in range(N) :
    ls.append(int(input()))
ls.sort()

for i in ls :
    print(i)

5
5
2
3
4
1
1
2
3
4
5

### 문제 2108번 : 통계학
(런타임 에러.  N(1 ≤ N ≤ 500,000))

In [10]:
import numpy as np
from collections import Counter

N = int(input())
ls = []
for _ in range(N) :
    ls.append(int(input()))

print(int(np.mean(ls).round(0))) # 산술평균
print(int(np.median(ls))) #중앙값

#최빈값. 여러 개 있을 때에는 최빈값 중 두 번째로 작은 값
count_ls = Counter(ls).most_common()
temp_ls = []
for i in count_ls :
    if i[1] == count_ls[0][1] :
        temp_ls.append(i[0])
if len(temp_ls) > 1 :
    temp_ls.sort()
    print(temp_ls[1])
else :
    print(temp_ls[0])

print(np.max(ls) - np.min(ls)) #범위

5
-1
-2
-3
-1
-2
-2
-2
-1
2