In [ ]:
# 입출력과 사칙연산 - Hello World
print('Hello World!')

Hello World!

In [ ]:
# 입출력과 사칙연산 - 고양이
print("\\    /\\\n )  ( ')\n(  /  )\n \(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [ ]:
# if문 - 두 수 비교하기
A, B = input().split(' ')
A = int(A)
B = int(B)
if A>B:
    print('>')
elif A<B:
    print('<')
else :
    print('==')

6 4
>

In [ ]:
# if문 - 윤년
year = int(input(''))

if year%4 == 0 and year%100 != 0:
    print('1')
elif year%400  == 0:
    print('1')
else:
    print('0')

2012
1

In [ ]:
# for문 - 구구단
N = int(input())
for i in range(1,10):
    print(N,'*',i,'=',N*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
# for문 - N찍기
a = int(input())
for i in range(1,a+1):
    print(i)

5
1
2
3
4
5

In [ ]:
# while문 - A+B - 5
while True:
    A,B = input().split(' ')
    A = int(A)
    B = int(B)
    if A != 0 and B != 0:
        print(A+B)

    if A == 0 and B == 0:
        break

5 4
9
3 1
4
0 0

In [ ]:
# while문 - 더하기 사이클
a = int(input())
check = a
cnt = 0

while True:
    x = a//10 + a%10
    new_x = (a%10)*10 + x%10
    cnt += 1
    a = new_x
    if new_x == check:
        break
print(cnt)

26
4

In [9]:
# 실습1 - 평균 점수
s = []
for j in range(5):
    a=int(input())
    if a<40:
        a = 40
    s.append(a)

avg = int(sum(s)/5)
print(avg)

10
65
100
30
95
68.0

In [33]:
# 실습1 - 세 수
a, b, c = input().split()
a = int(a)
b = int(b)
c = int(c)

n_li = [a,b,c]
n_li.sort(reverse=True)[1]

51 42 35

TypeError: ignored

In [27]:
# 실습1 - 세 수
a = list(input().split())
for i in range(len(a)):
    a[i] = int(a[i])
a.sort(reverse=True)
print(a[1])

10 20 55
20

In [40]:
# 1차원 배열 - 최소, 최대
a = int(input())
b = input().split()
n_li = []
for i in range(a):
    n_li.append(int(b[i]))
    
print(min(n_li), max(n_li))

5
20 10 35 37 7
7 37

In [41]:
# 1차원 배열 - 숫자의 개수
a = int(input())
b = int(input())
c = int(input())

n= str(a*b*c)

for i in range(10):
    print(n.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

In [52]:
# 1차원 배열 - 평균은 넘겠지
n = int(input())
result = []
for i in range(n):
    s_li = list(map(int, input().split()))
    avg = sum(s_li[1:])/s_li[0]
    cnt=0
    for j in s_li[1:]:
        if j > avg:
            cnt+=1
    result.append(cnt/s_li[0])

for r in result:
    print(format(r,'.3%'))

1
5 50 50 70 80 100
40.000%

In [134]:
# 함수 - 정수 N개의 합
def solve(a):
    ans = 0
    for v in a:
        ans += v
    return ans

In [80]:
# 함수 - 한수
n = int(input())
cnt = 0

for i in range(1, n+1):
    if i <=99:
        cnt+=1
    else:
        if int(str(i)[0])-int(str(i)[1]) == int(str(i)[1])-int(str(i)[2]):
            cnt+=1
cnt

210

105

In [83]:
# 문자열 - 아스키코드
x = input()
print(ord(x))

ㅁ
12609

In [97]:
# 문자열 - 상수
a, b = input().split()
a = int(a)
b = int(b)
new_a = int(str(a)[::-1])
new_b = int(str(b)[::-1])

print(max(new_a,new_b))

764 893
467

In [104]:
# 수학1 - 손익분기점
a,b,c = map(int, input().split())
if b>=c:
    print(-1)
else:
    n = a/(c-b)
    print(int(n)+1)

1000 70 170
11

In [120]:
# 수학1 - 분수찾기
n = int(input())
lis = []
if n<5:
    print(-1)
else:
    for y in range((n//3)+1):
        for x in range((n//5)+1):
            if ((5*x + 3*y) == n) :
                lis.append(x+y)
    print(min(lis))

18
4

In [130]:
# 수학2 - 소수찾기
n = int(input())
a = list(map(int,(input().split())))
result = 0
for x in a:
    cnt = 0
    if x==1:
        continue
    for y in range(2,x+1):
       if x%y == 0:
           cnt+=1
    if cnt==1:
        result +=1
result

4
1 3 5 7

3

In [133]:
# 수학2 - 직사각형에서 탈출
x,y, w, h = map(int,(input().split()))
print(min([x, y, w - x, h - y]))

6 2 10 3

1